<a href="https://colab.research.google.com/github/sohdacafe/Work-efficiency/blob/main/wine_totalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
from sklearn.datasets import load_wine
wine=load_wine()

In [4]:
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df['class']=wine.target
df

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  class
0      14.23        1.71  2.43  ...                          3.92   1065.0      0
1      13.20        1.78  2.14  ...                          3.40   1050.0      0
2      13.16        2.36  2.67  ...                          3.17   1185.0      0
3      14.37        1.95  2.50  ...                          3.45   1480.0      0
4      13.24        2.59  2.87  ...                          2.93    735.0      0
..       ...         ...   ...  ...                           ...      ...    ...
173    13.71        5.65  2.45  ...                          1.74    740.0      2
174    13.40        3.91  2.48  ...                          1.56    750.0      2
175    13.27        4.28  2.26  ...                          1.56    835.0      2
176    13.17        2.59  2.37  ...                          1.62    840.0      2
177    14.13        4.10  2.74  ...                          1.60    560.0      2

[178 rows x 14 columns]

In [ ]:
'''
説明変数
1. alcohol アルコール濃度
2. malic_acid リンゴ酸
3. ash 灰（？
4. alcalinity_of_ash 灰のアルカリ成分（？
5. magnesium マグネシウム
6. total_phenols 総フェノール類量
7. flavanoids フラボノイド（ポリフェノールらしい）
8. nonflavanoid_phenols 非フラボノイドフェノール類
9. proanthocyanins プロアントシアニジン（ポリフェノールの一種らしい）
10. color_intensity 色の強さ
11. hue 色合い
12. od280/od315_of_diluted_wines ワインの希釈度合い
13. proline プロリン（アミノ酸の一種らしい）
目的変数
14. ワインの品種
'''

In [ ]:
df['class'].unique()

array([0, 1, 2])

In [11]:
# 特定カラムの値の種類を抽出
wines = df['class'].unique()
wines

array([0, 1, 2])

In [6]:
# 特定の値のデータのみ抽出
_df = df[df['class']==wines[0]]
_df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  class
0    14.23        1.71  2.43  ...                          3.92   1065.0      0
1    13.20        1.78  2.14  ...                          3.40   1050.0      0
2    13.16        2.36  2.67  ...                          3.17   1185.0      0
3    14.37        1.95  2.50  ...                          3.45   1480.0      0
4    13.24        2.59  2.87  ...                          2.93    735.0      0

[5 rows x 14 columns]

In [35]:
wine_res = []
for wine in wines:
    wine_res.append(wine)
    wine_alc = df[df['class']==wine]['alcohol'].mean()
    wine_res.append(wine_alc)
    wine_acid = df[df['class']==wine]['malic_acid'].mean()
    wine_res.append(wine_acid)

In [38]:
wine_res

[0,
 13.744745762711865,
 2.0106779661016954,
 1,
 12.278732394366198,
 1.932676056338028,
 2,
 13.153749999999997,
 3.3337500000000007]